span {
  background-color: #f7f7f7;
  margin-right: 10px;
}
.studentlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.group {
  color: white;
  height: 30px;
  background-color: #ea5455;
  border: #ea5455;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
